node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.jest

# macOS
.DS_Store
database.rules.json
/database.rules.json
/firebase-debug.log
/firestore.indexes.json
/firestore.rules
/functions/
/storage.rules
/firebase.json
/remoteconfig.template.json
/.firebaserc
/database-debug.log
/firestore-debug.log
/pubsub-debug.log
/ui-debug.log
.expo-shared
.idea
/.java-version
*__snapshots__*
/coverage/


/.storybook/
/.env
/package-lock.json
